{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" }}],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-typescript",
    // 第三方支持获取元数据插件
    "babel-plugin-transform-typescript-metadata",
    // 官方支持装饰器插件
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["module-resolver", {
        "alias": {
          "@": "./src",
          "test": "./test"
        }
      }]
  ]
}
